/* Candidate gene analysis of log2 rifampicin resistance in 30
   Mycobacterium tuberculosis genomes. Candidate genes: rpoB 
   PE_PGRS52 Rv0115a Rv0374c Rv0481c Rv0537c Rv2060 Rv2819c 
   Rv3060c Rv3352c Rv3551 Rv3592 Rv3831 drrB lpqW ltp4 moaA2 
   murF uvrA & vapB16.

   Example data from CRYPTIC (2022) PLOS Biology 20: e3001755  */
/* For bare metal deployment or inside interactive container.  */
params {
	// Output files
	base_dir = "/home/jovyan/tb20"
	output_prefix = "tb20"
	analysis_dir = "$base_dir/kmergwas"

	// Analysis options
	kmer_type = "nucleotide"
	kmer_length = 31

	// Input files
	id_file = "/usr/share/kmer_pipeline/example/id_file.txt"

	// Species-specific reference genome FASTA and genbank files
	ref_fa = "/usr/share/kmer_pipeline/example/Mtub_H37Rv_NC000962.3.fasta"
	ref_gb = "/usr/share/kmer_pipeline/example/Mtub_H37Rv_NC000962.3.gb"

	// Deployment
	maxp = 2
	container_type = "none"
}
executor.queueSize = params.maxp
executor.cpus = params.maxp
