params {
	// Fold parallelization
	p = 6

	// Output files
	output_prefix = "exout"
	analysis_dir = "/home/jovyan/gwas/$output_prefix"
	stdout_dir = "/home/jovyan/gwas/$output_prefix/log"
	stderr_dir = "$stdout_dir"

	// Analysis options
	kmer_type = "nucleotide"
	kmer_length = 31
	minor_allele_threshold = 0.01
	nucmerident = 90
	min_count = 1
	bowtie_parameters = "--very-sensitive"
	samtools_filter = 10
	blastident = 70
	annotateGeneFile = "NULL"
	override_signif = "FALSE"

	// Input files
	input_dir = "/usr/share/kmer_pipeline/example"
	id_file = "$input_dir/fullpath_saur12_example_id_path_pheno.txt"
	covariate_file = ""

	// Species-specific reference genome FASTA and genbank files
	ref_fa = "$input_dir/R00000022.fa"
	ref_gb = "$input_dir/R00000022.gbk"

	// Software paths
	software_file = "$input_dir/pipeline_software_location.txt"
	script_dir = "/usr/local/bin"
}
