/* Candidate gene analysis of log2 rifampicin resistance in 30
   Mycobacterium tuberculosis genomes. Candidate genes: rpoB 
   PE_PGRS52 Rv0115a Rv0374c Rv0481c Rv0537c Rv2060 Rv2819c 
   Rv3060c Rv3352c Rv3551 Rv3592 Rv3831 drrB lpqW ltp4 moaA2 
   murF uvrA & vapB16.

   Example data from CRYPTIC (2022) PLOS Biology 20: e3001755  */
/* For deployment on SGE using singularity containers.         */
params {
	// Output files
	base_dir = "YOUR_PATH_HERE"
	output_prefix = "tb20"
	analysis_dir = "$base_dir/$output_prefix/kmergwas"

	// Analysis options
	kmer_type = "nucleotide"
	kmer_length = 31

	// Input files
	id_file = "$base_dir/$output_prefix/id_file.txt"

	// Species-specific reference genome FASTA and genbank files
	ref_fa = "$base_dir/$output_prefix/Mtub_H37Rv_NC000962.3.fasta"
	ref_gb = "$base_dir/$output_prefix/Mtub_H37Rv_NC000962.3.gb"

	// Deployment
	maxp = 30
	container_type = "singularity"
	container_file = "YOUR_CONTAINER_PATH_HERE/kmer_pipeline_2022-10-26.sif"
}
executor.queueSize = params.maxp
executor.cpus = params.maxp
process {
	executor = "slurm"
	queue = "short"
}
